<ul class="nav nav-tabs">
  <li></li>
  <li role="presentation" class="active"><%= link_to "top", "#", class: "nav-top" %></li>
  <li role="presentation"><%= link_to "new", "#", class: "nav-new" %></li>
  <li role="presentation"><%= link_to "rising", "#", class: "nav-rising" %></li>
  <li role="presentation"><%= link_to "controversial", "#", class: "nav-controversial" %></li>
  <li role="presentation"><%= link_to "hot", "#", class: "nav-hot" %></li>
  <li role="presentation"><%= link_to "gilded", "#", class: "nav-gilded" %></li>
  <li role="presentation"><%= login_or_logout_link %></li>
  <li role="presentation"><%= link_to "Comment History", "#" %></li>
  <li role="presentation"><%= link_to "Private Messages", private_messages_path%></li>
</ul>
